.field-multiple-drag {
    display: none;
}

#field-item-compromiso-values .draggable td:not(.field-multiple-drag) {
    /*display: flex;*/
    padding-left: 0;
}

#field-item-compromiso-values .draggable td .field-type-taxonomy-term-reference {
    float: left;
    padding-right: 1.45rem;
}

.draggable td .field-type-taxonomy-term-reference {
    float: left;
    padding-right: 1.45rem;
}

.tabledrag-toggle-weight {
    display: none;
}

.form-item-title {
    /*float: left;*/
}

.fieldset-wrapper .field-type-number-integer {
    float: left;
    margin-right: 20px;
}

/*Meta title
.fieldset-wrapper > div.form-item {
    display:none;
}
*/
fieldset.item-fieldset, .action-tab {
    padding-left: 0;
    padding-right: 0;
    border: 0;
}

.form-wrapper > fieldset.ief-form.form-wrapper {
    padding-left: 0;
    border: none;
    border-top: 3px solid #0074BD;
}

.form-wrapper > fieldset.ief-form.form-wrapper .fieldset-wrapper > div:nth-child(-n+3) {
    padding-top: 0;
    float: left;
    margin-left: 10px;
}

fieldset.action-tab fieldset.form-wrapper {
    padding-right: 0;
    border: 0;
    border-top: 3px solid #0074BD;
}



/********************/

.field-label {
    /*background-color: aqua;*/
    background-color: #1272b9;
}

.form-submit {
    bac
}