div.form-wrapper fieldset.ief-form.ief-form-bottom.form-wrapper {
    padding-left: 0;
    border: none;
    border-top: 3px solid #0074BD;
}

fieldset.form-wrapper {
    padding-left: 0;
    border: none;
    border-top: 3px solid #0074BD;
}